<div class="row" style="margin-top: 3rem;">
	<div class="medium-12 columns">
		<div id="videoPlayer">
			<video id="mainPlayer" width="100%" controls>
			  <source id="mainSource" src="/media/L.A.Story.1991.BRRip.XviD.KAZAN.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<h3></h3>
		</div>
	</div>
</div>