body {
	background-color: #222;
}

body,p,h1,h2,h3,h4,h5 {
	color: #ddd;
}
video {
	background-color: black;
	box-shadow: 0 0 20px black;
}

a {
	webkit-transition:	all 100ms ease;
	transition:			all 100ms ease;
}
.right-small{
	text-align:center;
	font-size: 25px;
}
.right-small a {
	color: #888;
}
.right-small a:hover{
	color: #fff;
}
.videoItem i {
	margin-right: 0.66667rem;
	display: inline-block;
	height: 2em;
	float: left;
}
#videoPlayer {

}
#videoPlayer h3 {
	color: #333;
	font-weight: 900;
	webkit-transition:	all 300ms ease;
	transition:			all 300ms ease;
}
#videoPlayer h3:hover {
	color: #ddd;
}
.tab-bar {
	box-shadow: 0 0 5px black;
}
.inner-wrap {
	min-height: 100vh;
}
.dlSquare{
	background-color: black;
	border-radius: 10px;
	padding: 30px;
	text-align: center;
	box-shadow: 0 0 50px rgba(0,0,0,0.7);
}
.dlSquare>a>.fi-download {
	font-size: 10em;
}
.dlSquare a{
	color: #333;
}
.dlSquare a:hover{
	color: #fff;
};